# Copy this file to .env and update the values as needed

# Database URL - SQLite database file location
DATABASE_URL="file:./dev.db"

# Generate one with: openssl rand -base64 32
SESSION_SECRET="3+bgSrRn0lUZQIwe15P2AkwSPejBJXJIp1gGF7fw4d0="
